<!DOCTYPE html>
<html>
	<head>
		<title>Api</title>
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="main.css">
	
	</head>
	<body>
 	<div>
 		<div class="jumbotron">
 			<div class="container">
 				<h1>Make a lion!</h1>
 				<p>Learn more ...</p>
 				
 			</div>
 		</div>
 	</div>
 	<div class = "container col-lg-6">
 	<table class="table table-bordered " id='lionTable'>
 		<thead>
 			<tr>
 				<th>Name</th>
 				<th>Age</th>
 				<th>Pride</th>
 				<th>Gender</th>
 			</tr>
 		</thead>
 		<tbody>
 			<% for(var i=0; i < lion.length; i++) {%>
 			<tr id='<%=lion[i]._id%>'>
 				<td><%=lion[i].name%></td>
 				<td><%=lion[i].age%></td>
 				<td><%=lion[i].pride%></td>
 				<td><%=lion[i].gender%></td>
 				<td><button class="btn btn-danger deleteLion">Delete</button></td>
 			</tr>
 			<% }; %>
 		</tbody>
 	</table>
 		
 	</div>
 	<br><br>
 	<div class="container">
 	<form action="" method="POST" role="form" class="col-md-6">
 		<legend>Create a lion</legend>
 	
 		<div class="form-group">
 			<label for="">Name</label>
 			<input type="text" class="form-control" id="name" placeholder="Name">
 			<label for="">Age</label>
 			<input type="text" class="form-control" id="age" placeholder="Age">
 			<label for="">Pride</label>
 			<input type="text" class="form-control" id="pride" placeholder="Pride">
 			<label for="">Gender</label>
 			<input type="text" class="form-control" id="gender" placeholder="Gender">
 		</div>
 	
 		
 	
 		<button type="submit" class="btn btn-primary" id='addLion'>Add My Lion</button>
 	</form>
 	</div>
 	
 	





	<script src="https://code.jquery.com/jquery-2.2.0.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script src="app.js"></script>
	</body>
</html>
